{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post             -->
              {% for obj in object_list %}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ obj.get_absolute_url  }}"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    
                    <div class="category">
                    {% for cat in obj.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                    </div>
                  </div><a href="{{ obj.get_absolute_url  }}">
                    <h3 class="h4">{{ obj.title }}</h3></a>
                  <p class="text-muted">{{ obj.overview }}</p>
                  <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ obj.author.profilepic.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{ obj.auther.user.username }}</span></div></a>
                    <div class="date"><i class="icon-clock"></i>{{ obj.timestamp | timesince }} ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ obj.comment_count }}</div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- post    -->
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
              {% if object_list.has_previous %}
                <li class="page-item"> <a href="?page=1" class="page-link">&laquo;</a></li>
                <li class="page-item"> <a href="?page={{ object_list.previous_page_number }}" class="page-link"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}

                <!-- <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li> -->

                <li class="page-item"><a href="?page={{ object_list.number }}" class="page-link  active">{{ object_list.number }}</a></li>


              {% if object_list.has_next %}
                <li class="page-item"><a href="?page={{ object_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                <li class="page-item"> <a href="?page={{ object_list.paginator.num_pages }}" class="page-link">&raquo;</a></li>
              {% endif %}

              </ul>
            </nav>
          </div>
        </main>
        {% include 'sidebar.html' with recent_post=recent_post category_count=category_count %}
      </div>
    </div>
    <!-- Page Footer-->
{% endblock %}
